:root {
  --primary-font: "Bebas Neue", cursive;
  --primary-color: #8cd2fa;
  --secondary-color: #d9d9d9;
  --hover-color: #000000;
  --hover-font: #8e8e8e;
  --correct-colour: #00e903;
  --incorrect-colour: #ee5b5b;
}

body {
  background-color: var(--primary-color);
}

/* HOMEPAGE */

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin-top: 5%;
  font-family: var(--primary-font);
}

.logo {
  width: 300px;
}

.homePage h1 {
  font-size: 36px;
}

.homePage h1,
.homePage h2 {
  margin: 0 0 15px 0;
}

.homePage h2 {
  margin-bottom: 15px;
}

.gameTab {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  border: 3px solid black;
  border-radius: 10px;
  background-color: var(--secondary-color);
  width: 20%;
  min-width: 300px;
}

.gameTab:hover {
  background-color: var(--hover-color);
  color: var(--hover-font);
  cursor: pointer;
}

.gameTab div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameTab p {
  margin: 10px;
  font-size: 25px;
}

.icon {
  font-size: 1.5em;
}

/* PLAY PAGE */

.playPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 7%;
  font-family: var(--primary-font);
}

.gameNav {
  display: flex;
  justify-content: center;
  gap: 30%;
}

.gameNav > * {
  font-size: 5em;
}

.playPage i:hover {
  cursor: pointer;
  color: var(--hover-font);
}

.playPage h2 {
  margin: 5% 0 5% 0;
  font-size: 36px;
}

.playButton {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-color);
  border-radius: 60px;

  font-size: 48px;
  width: 20%;
  min-width: 300px;
}

.playButton:hover {
  background-color: var(--hover-color);
  color: var(--hover-font);
  cursor: pointer;
}

.backToHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 5%;
}

.backToHome:hover {
  cursor: pointer;
  color: var(--hover-font);
}

.backToHome i {
  font-size: 5em;
}

.backToHome p {
  font-size: 36px;
  margin: 0;
  margin-top: 10px;
}

/* GAME PAGE */

.gamePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: var(--primary-font);
}

.timer {
  font-size: 72px;
  margin: 0;
}

.giveUp {
  font-size: 24px;
  margin: 0;
  text-decoration: underline;
}

.giveUp:hover {
  cursor: pointer;
  color: var(--hover-font)
}

.flag {
  height: 320px;
  margin: 5% 0 1% 0;
}

.shape {
  margin: 5% 0 1% 0;
  height: 320px;
}

.capital {
  margin: 5% 0 1% 0;
  height: 320px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.capitalToGuess, .bordersToGuess {
  font-size: 56px;
  margin: 0;
}

.bordersToGuess {
  margin: 5% 0 1% 0;
}

.borders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 320px;
  gap: 20px;
  margin: 0 b 0 1% 0;
}

.border {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  width: 350px;
  height: 38px;
}

.borderGuess {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  grid-column: 2 / 3;
}

.unanswered {
  background-color: var(--secondary-color);
}

.answerReveal {
  margin: none;
  font-size: 24px;
  height: 1em;
}

.capitalReveal {
  margin: 0;
  font-size: 40px;
  height: 1em;
}

.guessField {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  height: 40px;
  width: 350px;
  margin-top: 1%;
  outline: 2px solid black;
}

.guessField > * {
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
}

.guessInput {
  border: none;
  outline: none;
  text-align: center;
  font-size: 24px;
  grid-column: 2 / 3;
}

.guessResult {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-family: var(--primary-font);
}

.unanswered {
  background-color: var(--secondary-color);
  color: black;
}

.correct > *{
  background-color: var(--correct-colour);
  color: white;
}

.incorrect > * {
 background-color:  var(--incorrect-colour);
 color: white;
}

/* FINISHED PAGE */

.finishedPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 7%;
  font-family: var(--primary-font);
}

.finishedTitle {
  font-size: 54px;
}

.finishedScore, .finishedTime {
  font-size: 28px;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-color);
  border-radius: 40px;

  font-size: 36px;
  width: 15%;
  min-width: 300px;
  margin-top: 5%;
}

.backButton:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  color: var(--hover-font);
}
